{% extends "base.html" %}

{% block title %}Tableau{% endblock %}

{% block content %}
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Batiment</th>
                    <th>Process</th>
                    <th>CTA</th>
                    <th>Etage 1</th>
                    <th>Etage 2</th>
                    <th>Etage 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="5">{{ col1 }}</td>
                    <td rowspan="5">{{ col2 }}</td>
                    <td rowspan="5">{{ col3 }}</td>
                    <td>
                        <ul>
                            {% for item in etage_1_values %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for item in etage_2_values %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for item in etage_3_values %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
